.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-image {
  height: 300px;
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}


#upload-component {  
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#upload-component label {
  display: block;
  text-align: left;
}

#upload-component #file-input {
  height: 100px;  
}